<section>
  <%= form_for @classroom, html: {multipart: true} do |f| %>
    <%= f.label :name, "Classroom name" %>
    <%= f.text_field :name %>

    <%= f.label :interviews_per_slot %>
    <%= f.number_field :interviews_per_slot %>

    <%= label_tag :interviews_csv %>
    <%= file_field_tag :interviews_csv, accept: 'text/csv' %>

    <%= f.submit class: "button" %>
  <% end %>
</section>
