<section id="interview-feedback">
  <h2>Add Feedback for <%= @interview.student.name %></h2>
  <p class="subhead">
    Interviewed for
    <%= @interview.company.name %>
    on
    <%= @interview.scheduled_at.strftime("%B %d") %>
    at
    <%= @interview.scheduled_at.strftime("%l:%M %p") %>
  </p>
  <%= render partial: "form", locals: {url: interview_interview_feedbacks_path, submit: "Submit Feedback"} %>
</section>
