<h2>Schedule an Interview for <%= @company.name %> (<%= @company.classroom.name %>)</h2>

<%= form_tag company_interviews_path(@company.uuid), html: {multipart: true}, method: :post do |f| %>
  <fieldset>
    <%= label_tag :date, "Interview Date" %>
    <%= date_field_tag :date %>
  </fieldset>
  <fieldset>
    <%= label_tag :students, "Students (#{@company.classroom.interviews_per_slot})" %>
    <%= text_area_tag :students, nil, rows: 6 %>
  </fieldset>

  Schedule interviews:
  <%= submit_tag "Morning", class: "button" %>
  <%= submit_tag "Afternoon", class: "button" %>
<% end %>
