<%= form_for @company_survey, html: {multipart: true}, url: url, method: method do |f| %>
  <%= f.label :team_name, "What is your team name?" %>
  <%= f.text_field :team_name %>

  <h4>Hiring Requirements</h4>
  <p>
    Please let us know of any hiring requirements that Ada should take into account when matching Ada students with your company for internship.
  </p>
  <p>
    These might include but are not limited to:
  </p>
  <ol>
    <li>Authorization to work in the United States (i.e. Green Card holder or other work authorization requirement).</li>
    <li>Pre-employment drug screening (for legal or illegal substances in Washington state).</li>
    <li>Any other restrictions or requirements that we may need to be aware of to ensure a successful placement.</li>
  </ol>

  <%= f.label :pre_hiring_requirements, "Hiring requirements" %><abbr title="This field is mandatory">*</abbr>
  <%= f.text_field :pre_hiring_requirements, required: true %>

  <h4>Requested Students</h4>

  <%= f.label :preferred_students,  "Are there any students with whom you would like to have included on your interview schedule? Please provide the names of up to four students per internship slot, in order of preference." %>
  <%= f.text_area :preferred_students, rows: 4, cols: 20 %>

  <h4>Company and Team Structure</h4>
  <% questions.each_with_index do |question, index| %>
    <%= f.label question[:name], "#{index + 1}. #{question[:text]}".html_safe %><abbr title="This field is mandatory">*</abbr>
    <fieldset>
      <% question[:answers].each_with_index do |answer, index| %>
        <div class="radio">
          <%= f.radio_button "#{question[:name]}", index, required: true %>
          <%= f.label "#{question[:name]}", answer[:text], value: index %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <% if method == :patch || method == :post %>
    <%= f.submit "Update Survey", class: "button" %>
  <% else %>
    <%= f.submit "Submit", class: "button" %>
  <% end %>
<% end %>
