<section id="team-list">
  <h2>Team List</h2>
  <%= link_to content_tag(:button, "Add a Team", class: "button"), new_company_path, class: "action" %>

  <% @companies_with_interviews.each do |classroom, companies| %>
    <h3><%= classroom.name %></h3>
    <table>
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Contact Email(s)</th>
          <th>Survey</th>
          <th>Interview Feedback</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% companies.each do |company| %>
          <tr>
            <td>
              <%= display_cell(company, link_to(company.name, company_path(company.uuid))) %>
            </td>
            <td>
              <% unless company.emails.empty? %>
                <%= display_cell(company, company.emails.join(", ")) %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
            <td>
              <% if company.survey_complete? %>
                <%= display_cell(company, "Complete") %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
            <td>
              <% if company.interviews.empty? %>
                <%= display_cell(company, "Not Scheduled", class: "not-started") %>
              <% elsif company.interviews_complete? %>
                <%= display_cell(company, "Complete") %>
              <% else %>
                <%= display_cell(company, 
                                 "#{company.feedback_count}/#{company.classroom.interviews_per_slot}") %>
              <% end %>
            </td>
            <td>
              <%= link_to content_tag(:button, "Edit", class: "button"), edit_company_path(company.uuid) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
