<section>
  <h2>Interviews for <%= @company.name %></h2>

  <table id="interview-table">
    <thead>
      <tr>
        <th>
          Student
        </th>
        <th>
          Interview Date & Time
        </th>
        <th>
          Feedback
        </th>
      </tr>
    </thead>
    <tbody>
      <% @interviews.each do |interview| %>
        <tr>
          <td>
            <%= interview.student.name %>
          </td>
          <td>
            <%= format_date(interview.scheduled_at) %>
          </td>
          <td>
            <% if interview.has_feedback? %>
              <ul>
                <% interview.interview_feedbacks.each do |interview_feedback| %>
                  <li>
                    Added by <%= interview_feedback.interviewer_name %>
                    on <%= format_date(interview_feedback.updated_at) %>
                    <% if defined? edit_interview_interview_feedback_path %>
                      (<%= link_to "edit", edit_interview_interview_feedback_path(interview.id, interview_feedback.id) %>)
                    <% end %>
                  </li>
                <% end %>
                <li><%= link_to "add another", new_interview_interview_feedback_path(interview.id) %></li>
              </ul>
            <% else %>
              <%= link_to "add feedback", new_interview_interview_feedback_path(interview.id), class: "button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
