<article>
  <h2><%= @company.name %></h2>

  <% unless @company.emails.empty? %>
    <h3>Contact Emails</h3>
    <ul>
      <% @company.emails.each do |email| %>
        <li><%= email %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @questions %>
    <section>
      <h3>Company Support Survey</h3>

      <p>Please complete the following survey:</p>
      <%= render partial: "survey_form", locals: {url: survey_company_path, questions: @questions} %>
    </section>
  <% end %>

  <% if @interviews %>
    <section>
      <h3>Interviews</h3>

      <table id="interview-table">
        <thead>
          <tr>
            <th>
              Student
            </th>
            <th>
              Interview Date & Time
            </th>
            <th>
              Feedback
            </th>
          </tr>
        </thead>
        <tbody>
          <% @interviews.each do |interview| %>
            <tr>
              <td>
                <%= interview.student.name %>
              </td>
              <td>
                <%= format_date(interview.scheduled_at) %>
              </td>
              <td>
                <% if interview.has_feedback? %>
                  <ul>
                    <% interview.interview_feedbacks.each do |interview_feedback| %>
                      <li>
                        Added by <%= interview_feedback.interviewer_name %>
                        on <%= format_date(interview_feedback.updated_at) %>
                        <% if defined? edit_interview_interview_feedback_path %>
                          (<%= link_to "edit", edit_interview_interview_feedback_path(interview.uuid, interview_feedback.id) %>)
                        <% end %>
                      </li>
                    <% end %>
                    <li><%= link_to "add another", new_interview_interview_feedback_path(interview.uuid) %></li>
                  </ul>
                <% else %>
                  <%= link_to "add feedback", new_interview_interview_feedback_path(interview.uuid), class: "button" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</article>
